@use "global" as *;
  
.campaign-body__items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(16) rem(21);
}
  
.campaign-body__item {
    text-align: center;
    display: inline-block;
    width: rem(162);
    padding: rem(4.25) 0;
    color: $green;
    border: solid 1px $green ;
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(22/14);
    cursor: pointer;
}

.campaign-body__item:hover {
    background-color: $green;
    color: $white;
    transition: 0.3s;
}

.campaign-body__item:hover::after {
    @include mq(md){
        transform: scale(1, 1);
    }
}
  
.campaign-body__item.active {
    position: relative;
}
  
.info_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .info_flex {
      flex-direction: column;
    }
}
  
.info_flex + .info_flex {
    margin-top: 20px;
}
  
.notice_list {
    display: none;
}
  
.notice_list.js_show {
    display: block;
}
  
  



