@use "global" as *;

.page-blog__inner{
    position: relative;
    max-width: $max-width;
}

.page-blog__main{
    
}

.page-blog__list{
    margin-top: rem(24);
    padding: 0 rem(6);
    @include mq(md){
        margin-top: rem(80);
        padding: 0;
    }
}


.page-blog-cards{
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
    }
}

.page-blog-cards__item{
    background-color: $white;
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    padding: rem(16) rem(16) rem(23) rem(16);
    @include mq(md){
        max-width: calc(50% - rem(40) * 1 / 2 );
        width: 100%;
    }
}

.page-blog-cards__item + .page-blog-cards__item{
    margin-top: rem(40);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(40);
    }
}

/* 枚数が増えたときのための処理 */
.page-blog-cards__item:nth-child(2n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.page-blog-cards__item:nth-child(n + 3){
    @include mq(md){
        margin-top: rem(80);
    }
}

.page-blog-card__img img{
    aspect-ratio: 301/201;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-blog-card__content{
    margin-top: rem(19);
    @include mq(md){
        margin-top: rem(18);
    }
}

.page-blog-card__data{
    font-family:$font-gotu ;
    font-size: rem(12);
    font-weight: $normal;
    line-height: calc(18/12);
}

.page-blog-card__title{
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(24/16);
    padding-bottom: rem(4);
    border-bottom: rem(1) solid #408F95;
}

.page-blog-card__text{
    margin-top: rem(16);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24/16);
}

.page-blog__pagination{
    margin-top: rem(80);
}

.page-blog__side{
    margin-top: rem(19);
}

.page-blog__side-content + .page-blog__side-content{
    margin-top: rem(80);
}


.page-blog__side-inner{
    padding: 0 rem(25.6);
}

.sideBar__heading{
    display: flex;
    align-items: center;
    position: relative;
}

.sideBar__heading-img{
    margin-left: rem(24);
}

.sideBar__heading::before{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: rem(8);
    height: rem(50);
    background-color: $green;
}

.sideBar__heading-img img{
    width: rem(50);
    height: rem(50);
}

.sideBar__heading-title{
    margin-left: rem(8);
    font-size: rem(24);
    font-weight: $regular;
    line-height: 1;
}

.sideBar__item{
    margin-top: rem(24);
}

.sideBar-item-blog{
    display: grid;
    grid-gap: rem(24);
    gap: rem(24);
}

.sideBar-item-blog__link{
    background-color: $white;
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    padding: rem(16) rem(16) rem(16) rem(16);
}

.sideBar-item-blog__flex{
    display: flex;
    align-items: flex-start;
}

.sideBar-item-blog__img{
    width: 49.3%;
}

.sideBar-item-blog__img img{
    aspect-ratio: 121/90;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideBar-item-blog__content{
    margin-top: rem(-6.4);
    margin-left: rem(16);
    width: 50.7%;
}

.sideBar-item-blog__data{
    font-family:$font-gotu ;
    font-size: rem(12);
    font-weight: $normal;
    line-height: 1;
}

.sideBar-item-blog__title{
    margin-top: rem(4);
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(24/16);
}
















.sideBar-item-voice__head-left{
    @include mq(md){
        padding-top: rem(35);
    }
}

.sideBar-item-voice__img img{
    aspect-ratio: 294/218;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideBar-item-voice__text{
    margin-top: rem(16);
}

.sideBar-item-voice__gender{
    font-size: rem(12);
    font-weight: $regular;
    line-height: calc(18/12);
}

.sideBar-item-voice__title{
    margin-top: rem(8);
    font-size: rem(24);
    font-weight: $medium;
}

.sideBar-item-voice__button{
    text-align: center;
    margin-top: rem(40);
}