@use "global" as *;

.pagination{
    display: flex;
    justify-content: center;
}

.pagination__button-prev {
    width: rem(38);
    height: rem(38);
    border: rem(1) solid $green;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.pagination__button-prev:hover {
    background-color: $green;
}

.pagination__button-prev::before {
    content: "";
    position: absolute;
    width: rem(10);
    height: rem(10);
    top: rem(13);
    left: 43%;
    border-top: rem(1) solid $green;
    border-left: rem(1) solid $green;
    transform: rotate(-45deg);
}

.pagination__button-prev:hover::before {
    border-color: $white;
}

.pagination__pagination-items {
    margin-left: rem(40);
    display: flex;
    gap: 0 rem(12);
}

.pagination__pagination-item {
    width: rem(38);
    height: rem(38);
    text-align: center;
    font-family: $font-lato;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 2.2;
    color: $green;
    border: rem(1) solid $green;
    cursor: pointer;
}

.pagination__pagination-item.current {
    color: $white;
    background-color: $green;
}

.pagination__button-next {
    margin-left: rem(40);
    width: rem(38);
    height: rem(38);
    border: rem(1) solid $green;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.pagination__button-next:hover {
    background-color: $green;
}

.pagination__button-next.pagination__button-next--margin {
    margin-left: rem(82);
}

.pagination__button-next::before {
    content: "";
    position: absolute;
    width: rem(10);
    height: rem(10);
    top: rem(13);
    left: 33%;
    border-top: rem(1) solid $green;
    border-right: rem(1) solid $green;
    transform: rotate(45deg);
}

.pagination__button-next:hover::before {
    border-color: $white;
}