@use "global" as *;

.page-information__inner{
    max-width: $max-width;
}

.page-information__container{
    margin-top: rem(16);

    @include mq("md") {
        margin-top: rem(24);
    }
}

.page-information__items{
    display: none;
    width: 100%;
}