@use "global" as *;
/*------*/
.page-voice__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16.5) rem(21);
    @include mq("md") {
        gap: rem(0) rem(32);
    }
}

.page-voice__tab {
    width: rem(162);
    padding: rem(5.2) 0;
    text-align: center;
    background-color: $white;
    color: $green;
    border: rem(1) solid $green;
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(22/14);
    text-transform: uppercase;
    cursor: pointer;
}

.page-voice__tab.current {
    background-color: $green;
    color: $white;
}

.page-voice__container{
    max-width: $max-width;
    width: 100%;
    margin: rem(40) auto 0;
    @include mq("md") {
        max-width: 100%;
        padding: 0;
    }
}

.page-voice__wrapper {
    display: none;
    width: 100%;
}

.page-voice__list{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(30);
    }
}

.page-voice__pagination{
    margin-top: rem(84);
    @include mq(md){
        margin-top: rem(67);
    }
}