@use "global" as *;

.privacy-policy__inner{
    max-width: $max-width;
    width: 100%;
    margin: auto;
    @include mq(md){
        max-width: rem(850);
    }
}

.privacy-policy__heading{
    padding-top: rem(4);
    @include mq(md){
        padding-top: rem(10);
    }
}

.privacy-policy__title{
    font-size: rem(24);
    font-weight: $medium;
    line-height: 1;
    @include mq(md){
        font-size: rem(32);
    }
}

.privacy-policy__subtitle{
    margin-top: rem(46);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(32/16);
}

.privacy-policy_content{
    margin-top: rem(32);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(32/16);
}

.privacy-policy__item + .privacy-policy__item{
    margin-top: rem(32);
}