@use "global" as *;

.sideBar-item-archive__year{
    position: relative;
    color: $green;
    font-size: rem(24);
    font-weight: $regular;
    margin-left: rem(14.4);
    padding-left: rem(17.6);
    padding-top: rem(3.2);
}

.sideBar-item-archive__year::before{
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateX(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.625rem 0 0.625rem 1rem;
    border-color: transparent transparent transparent $green;
}

.sideBar-item-archive__month{
    position: relative;
    color: $green;
    font-size: rem(24);
    font-weight: $regular;
    margin-left: rem(38);
    padding-left: rem(17.6);
    padding-top: rem(3.2);
}

.sideBar-item-archive__month::before{
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateX(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.625rem 0 0.625rem 1rem;
    border-color: transparent transparent transparent $green;
}

.sideBar-item-archive__lastYear{
    position: relative;
    color: $green;
    font-size: rem(24);
    font-weight: $regular;
    margin-left: rem(14.4);
    padding-left: rem(17.6);
    padding-top: rem(3.2);
}

.sideBar-item-archive__lastYear::before{
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateX(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.625rem 0 0.625rem 1rem;
    border-color: transparent transparent transparent $green;
}