@use "global" as *;

.sideBar-item-campaign{
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sideBar-item-campaign__img img {
    aspect-ratio: 294 / 188;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideBar-item-campaign__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: rem(12.8) rem(16) rem(24);
    @include mq("md") {
        padding: rem(16) rem(24);
    }
}

.sideBar-item-campaign__heading{
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
}

.sideBar-item-campaign__meta{
    display: inline-block;
    border: rem(1) solid $green;
    padding: rem(3) rem(12);
    font-size: rem(12);
    font-weight: $regular;
    line-height: calc(22/12);
    color: $green;
    @include mq("md") {
        padding: rem(5) rem(16);
    }
}

.sideBar-item-campaign__title {
    margin-top: rem(4.8);
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(24/16);
    padding-bottom: rem(4.8);
    border-bottom: rem(1) solid $green;
}

.sideBar-item-campaign__wrapper{
    margin-top: rem(8);
    padding: 0 rem(19) 0;
    @include mq("md") {
        margin-top: rem(16);
    }
}

.sideBar-item-campaign__subtitle{
    text-align: center;
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(24/14);
}

.sideBar-item-campaign__price {
    margin-top: rem(8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
}

.sideBar-item-campaign__price-before {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: rem(8);
    font-family: $font-lato;
    font-size: rem(20);
    font-weight: $bold;
    line-height: 1;
}

.sideBar-item-campaign__price-before::before {
    content: "";
    position: absolute;
    display: block;
    background-color: red;
    width: 100%;
    height: rem(3);
    top: 60%;
    left: 0;
}

.sideBar-item-campaign__price-after {
    margin-left: rem(17.6);
    font-family: $font-lato;
    font-size: rem(32);
    font-weight: $bold;
    line-height: 1;
    color: $green;
    @include mq("md") {
        margin-left: rem(16);
    }
}