@use "global" as *;


.sub-blog__data{
    font-family:$font-gotu ;
    font-size: rem(14);
    font-weight: $normal;
    line-height: calc(18/14);
}

.sub-blog__title{
    margin-top: rem(8);
    font-size: rem(24);
    font-weight: $medium;
    line-height: 1;
    padding-bottom: rem(8);
    border-bottom: rem(1) solid #408F95;
    @include mq(md){
        font-size: rem(32);
    }
}

.sub-blog__pagination{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(88);
    }
}

.pagination__button-next--margin{
    margin-left: rem(80);
}

.sub-blog__aside{
    margin-top: rem(80);
    @include mq(md){
        width: 27%;
        margin-top: 0;
    }
}